## சொற்குவை
control
--
-   அடக்கியாள்
-  தங்குதரிப்பு/ வினயம்; நிரோதம்/ கட்டுப்பாட்டு மாற்றம்
-  தடு/ கட்டுப்பாட்டுக் கூற்று
-  அதீனம்: முழுக் கட்டுப்பாடு/ கட்டுப்பாட்டு மின்சுற்று/ கட்டுப்பாட்டு மிதவை/ கட்டுப்பாட்டு கண்ணி;- இருப்புக் கட்டுப்பாடு/ வசம்/ கட்டு நிட்டு: மடங்கு
-  ஆளுகை;- இக்தியார்: மடங்கல்/ கட்டுப்பாட்டுத் தரவு/ கையகப்படு/ கட்டுப்படுத்து/ கட்டுப்பாட்டுப் பலகம்/ கட்டுப்பாடு/ கட்டுப்பாடு எண்ணி; நிறும ஆதிக்கம்/ கட்டுப்பாட்டு/ கட்டுப்பாட்டு விளக்கப்படம்/ கட்டுப்பாட்டகம்
-  அடக்கி ஆள்
-  